input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
input[type=number]{
    min-width: 100px;
    transition: 0.5s;
}
.alert {
    border-color: red;
    border-style:solid;
    opacity: 0.4;
  }
  